<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" charset="utf-8">
/* CONTACT MAP */
google.load("maps", "3", {
    callback: initialize,
    other_params: "sensor=false&libraries=places,drawing"
});
function initialize() {
    var map;
    var centerPosition = new google.maps.LatLng(24.7958926,120.9923036);

    var style = [{featureType:"administrative",stylers:[{visibility:"off"}]},{featureType:"poi",stylers:[{visibility:"simplified"}]},{featureType:"road",stylers:[{visibility:"simplified"}]},{featureType:"water",stylers:[{visibility:"simplified"}]},{featureType:"transit",stylers:[{visibility:"simplified"}]},{featureType:"landscape",stylers:[{visibility:"simplified"}]},{featureType:"road.highway",stylers:[{visibility:"off"}]},
        {featureType:"road.local",stylers:[{visibility:"on"}]},{featureType:"road.highway",elementType:"geometry",stylers:[{visibility:"on"}]},{featureType:"road.arterial",stylers:[{visibility:"off"}]},{featureType:"water",stylers:[{color:"#5f94ff"},{lightness:26},{gamma:5.86}]},{},{featureType:"road.highway",stylers:[{weight:0.6},{saturation:-85},{lightness:61}]},{featureType:"road"},{},{featureType:"landscape",stylers:[{hue:"#0066ff"},{saturation:74},{lightness:100}]}]

        var options = {
            zoom: 14,
            center: centerPosition,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map($('#contact-map')[0], options);
        map.setOptions({
            styles: style
        });

        var image = {
            url: 'http://sdrme.cal24.pl/marker.png',
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 50)
        };
        var marker = new google.maps.Marker({
            position: centerPosition,
            map: map,
            icon: image,
        });
}

google.maps.event.addDomListener(window, "load", initialize);
</script>
<!-- CONTENT -->
<div id="content"> 
    <!-- CONTAINER -->
    <div class="container">

        <div class="row margin-bot">
            <!-- CONTAINER -->
            <div class="full-width fw-borders" style="background: url(/img/pattern/fabric_of_squares_gray.png)">
                <div class="container">
                    <div class="row">
                        <div class="title"><h5></h5></div>

                        <div class="row margin-bot">


                            <div class="col-md-4 col-sm-6">
                                <h2 class="h-light highlight1">Pusheen出來玩 團隊</h2><br><br>
                                <p>（看要加什麼團隊簡介XD）<br><br> Fusce vehicula aliquam libero eu aliquet. Proin feugiat, urna sit amet dignissim suscipit.</p><br>
                                <a href="#" class="btn btn-sm">Learn more</a>
                            </div>

                            <!-- TEAM PERSON -->
                            <div class="col-md-4 col-sm-6 animation flipInY">
                                <div class="team-person">
                                    <div class="team-person-photo"><img src="/img/pusheen1.jpg" alt=""></div>
                                    <div class="team-person-info">
                                        <div class="team-person-name">
                                            <h4>戴宏穎</h4>
                                            <span class="function">Chief Executive Officer</span>
                                        </div>
                                        <div class="team-person-text" style="height: px">
                                            <p>blablablablablablablabla...... </p>
                                        </div>
                                        <div class="team-person-social">
                                            <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- TEAM PERSON END -->

                            <!-- TEAM PERSON -->
                            <div class="col-md-4 col-sm-6 animation flipInY">
                                <div class="team-person">
                                    <div class="team-person-photo"><img src="/img/pusheen1.jpg" alt=""></div>
                                    <div class="team-person-info">
                                        <div class="team-person-name">
                                            <h4>楊宗翰</h4>
                                            <span class="function">Chief Executive Officer</span>
                                        </div>
                                        <div class="team-person-text" style="height: px">
                                            <p>blablablablablablablabla...... </p>
                                        </div>
                                        <div class="team-person-social">
                                            <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 animation flipInY">
                                <div class="team-person">
                                    <div class="team-person-photo"><img src="/img/pusheen1.jpg" alt=""></div>
                                    <div class="team-person-info">
                                        <div class="team-person-name">
                                            <h4>林致民</h4>
                                            <span class="function">Chief Executive Officer</span>
                                        </div>
                                        <div class="team-person-text" style="height: px">
                                            <p>blablablablablablablabla...... </p>
                                        </div>
                                        <div class="team-person-social">
                                            <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- TEAM PERSON END -->

                            <!-- TEAM PERSON -->
                            <div class="col-md-4 col-sm-6 animation flipInY">
                                <div class="team-person">
                                    <div class="team-person-photo"><img src="/img/pusheen1.jpg" alt=""></div>
                                    <div class="team-person-info">
                                        <div class="team-person-name">
                                            <h4>許佑瑋</h4>
                                            <span class="function">Chief Executive Officer</span>
                                        </div>
                                        <div class="team-person-text" style="height: px">
                                            <p>blablablablablablablabla...... </p>
                                        </div>
                                        <div class="team-person-social">
                                            <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- TEAM PERSON END -->
                            <!-- TEAM PERSON -->
                            <div class="col-md-4 col-sm-6 animation flipInY">
                                <div class="team-person">
                                    <div class="team-person-photo"><img src="/img/pusheen1.jpg" alt=""></div>
                                    <div class="team-person-info">
                                        <div class="team-person-name">
                                            <h4>林詩雅</h4>
                                            <span class="function">Chief Executive Officer</span>
                                        </div>
                                        <div class="team-person-text" style="height: px">
                                            <p>blablablablablablablabla...... </p>
                                        </div>
                                        <div class="team-person-social">
                                            <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- TEAM PERSON END -->
                        </div>
                    </div>
                </div> <!-- CONTAINER END -->
            </div>
        </div>
    </div> <!-- CONTAINER END -->
    <div id="contact-map"></div>
</div> <!-- CONTENT END -->   
