<table class="table">
	<thead>
		<th>Title</th>
		<th>Value</th>
	</thead>

	<tbody>
		<% @res.each do |res| %>
			<tr>
				<td><%= res['datastream_name'] %></td>
				<td><%= res['current_value'] %></td>
			</tr>
		<% end %>
	</tbody>
</table>