<!--
<script>
(function worker() { 
	$.ajax({
	    type: "GET",
	    url: "/posts/get_data",
	    dataType: "json",
	    success: function(data)
	    {
	      $('.result').fadeOut( 200, function(){
	      		$('.result').html( data ) ; 
			    $('.result').load('/posts/get_data .table', function(){
			      	$('.result').fadeIn( 200 ) ;
			    });
			    setTimeout(worker, 3000);
	      }) ; 
	      
	    }
	}); 
})();
</script>
-->

<style>
	.label{
		font-size: 100px ;
	}

	.title{
		font-size: 100px ;
	}
</style>

<script>
(function worker() { 
	$.ajax({
	    type: "GET",
	    url: "/posts/index",
	    dataType: "json",
	    success: function(data)
	    {   
	    	par = '<center><h1 class="title">Value : <label class="label label-danger">'+ data[0].current_value + '</label></h1></center>'
	      	$('.result').html( par ) ; 
			setTimeout(worker, 200);
	    }
	});
})();
</script>
<br><br><br>
<div class="result">
</div>