<!-- FLEX SLIDER -->
<div class="flexslider">
    <ul class="slides" style="background: #F5F5F5 ; height: auto;">
        <li style="background: #EEE; height: auto;">

        <div class="container">
            <div class="row margin-bot">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h2 class="highlight1">Knock The Book</h2><br><br>
                    <p><h4><b>Knock The Book</b> (<b><i>KTB</i></b>)</h4><br><br>
                    圖書館到了考試周都是一位難求嗎？是否座位上只留下一個包包、一本書、甚至是一張薄紙就佔住位置的窘境呢？<br>有沒有發現有些對資源不甚愛惜的人們，讓大家無法享用到好的讀書環境呢？<br><br>這服務的最終目的就是希望透過監控座位並把這些資訊連上網進行分析，進而區隔出誰是這些浪費資源的人們。<br>透過借閱優良程度作為優先順序，把不多的資源能最大利益化，讓大家更有機會去使用好的資源！
                    </p><br>
                    <a href="#" class="btn btn-sm">Learn more</a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <img src="/img/library.jpg" alt="home">
                </div>
            </div>
        </div>
        </li>
    </ul>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){ 
            $('.flexslider').flexslider({
prevText: "",
nextText: "", 
pauseOnHover: true,
video: true,      
});
            });
</script>

<!-- CONTENT -->
<div id="content">
    <div class="full-width fw-border-bottom" style="background: url(img/pattern/geometry.png);">
        <div class="container">
            <div class="row margin-bot">
                <div class="title"><h3>使用教學</h3></div>
                <div class="col-md-4 col-sm-4 col-xs-12 animation fadeInLeft">
                    <div class="service">
                        <div class="service-heading clearfix">
                            <div class="service-icon animation rotateInDownLeft" style="background: #e7e7e7;">1</div>
                            <h4>登入</h4>
                        </div>
                        <div class="service-text" style="height: px">
                            <p>與學校系統連結，直接以學校信箱的帳號密碼登入即可。</p>
                        </div>
                        <a class="service-learn-more btn btn-xs">Next Step</a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 animation fadeInLeft">
                    <div class="service">
                        <div class="service-heading clearfix">
                            <div class="service-icon animation rotateInDownLeft" style="background: #e7e7e7;">2</div>
                            <h4>查詢時段並預約空位</h4>
                        </div>
                        <div class="service-text" style="height: px">
                            <p>查詢所選時段是否有空位，若有將自動排座位給您。</p>
                        </div>
                        <a class="service-learn-more btn btn-xs">Next Step</a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 animation fadeInRight">
                    <div class="service">
                        <div class="service-heading clearfix">
                            <div class="service-icon animation rotateInDownLeft" style="background: #e7e7e7;">3</div>
                            <h4>認證使用</h4>
                        </div>
                        <div class="service-text" style="height: px">
                            <p>以偵測動作的方式來認證使用者的使用情形。</p>
                        </div>
                        <a class="service-learn-more btn btn-xs">Enjoy</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> 

<div class="container">
    <script>
        $(window).load(function() {
        $("#clients").flexisel({
        enableResponsiveBreakpoints: true,
        visibleItems: 5,
        animationSpeed: 800,
        autoPlay: true,
        autoPlaySpeed: 5000,
        pauseOnHover: true,
        responsiveBreakpoints: { 
        portrait: { 
        changePoint:480,
        visibleItems: 1
        }, 
        landscape: { 
        changePoint:640,
        visibleItems: 2
        },
        tablet: { 
        changePoint:991,
        visibleItems: 4
        }
        }
        }); 
        });                       
    </script>
</div>  

</div> <!-- CONTENT END --> 
