<!--
<script>
(function worker() { 
	$.ajax({
	    type: "GET",
	    url: "/posts/get_data",
	    dataType: "json",
	    success: function(data)
	    {
	      $('.result').fadeOut( 200, function(){
	      		$('.result').html( data ) ; 
			    $('.result').load('/posts/get_data .table', function(){
			      	$('.result').fadeIn( 200 ) ;
			    });
			    setTimeout(worker, 3000);
	      }) ; 
	      
	    }
	}); 
})();
</script>
-->

<style>
	.label{
		font-size: 40px ;
	}

	.title{
		font-size: 40px ;
	}
</style>

<script>
(function worker() { 
	$.ajax({
	    type: "GET",
	    url: "/posts/index",
	    dataType: "json",
	    success: function(data)
	    {   
	    	var tar = -1 ; 
	    	for( var i = 0 ; i < data.length; ++i )
	    		if( data[i].datastream_name == "current_dist" ){
	    			tar = i ; 
	    			break ; 
	    		}
	    	var s = "";
	    	for(var ind in data){
	    		d = data[ind];
	    		s += '<h1 class="title"><label class="label label-danger">' + d.datastream_name + " : " + d.current_value + '</label></h1><br><br>' ; 
	    	}
	    	
	      	$('.result').html( s ) ; 
			setTimeout(worker, 200);
	    }
	});
})();
</script>
<br><br><br>
<div class="result"></div>
