  <footer class="footer-widgets">
		<div class="container footer-wrap">
          <div class="row">
            
              <div class="col-md-3 col-sm-3">
                  <div class="widget-title"><h5>About Gravida</h5></div>
                    <p>Hi, 我們是Pusheen出來玩！<br><br>國立清華大學CS<br/>資訊工程學系<br/>nthu.edu.tw<br/>+048 123 456 789</p>
                </div>
            
              <div class="col-md-3 col-sm-3">
                  <div class="widget-title"><h5>Twitter widget</h5></div>
                    
                    <div class="widget-twitter"></div>
                </div>
            
              <div class="col-md-3 col-sm-3">
                  <div class="widget-title"><h5>Social widget</h5></div>
                    <div class="social-icon">
                      <a href="#" class="foundicon-facebook"></a>
                      <a href="#" class="foundicon-twitter"></a>
                      <a href="#" class="foundicon-pinterest"></a>
                      <a href="#" class="foundicon-github"></a>
                      <a href="#" class="foundicon-instagram"></a>
                  </div>
                </div>
                
            </div>
        </div>
    </footer>
    
    <footer class="footer-bottom">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 col-sm-12">
                	<span class="copyrights">&copy; Copyright 2013 by <a href="#">Gravida</a>. All rights reserved &middot; Powered by <a href="http://wordpress.org">WordPress</a>.</span>
                    
                    <nav id="footer-bottom-nav" class="hidden-xs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
        </div>
    </footer>    