<footer class="footer-widgets hidden-xs">
<div class="container footer-wrap">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="widget-title"><h5>About PusheenChuLaiWan</h5></div>
            <p>Hi, 我們是Pusheen出來玩！<br><br>國立清華大學CS<br/>資訊工程學系<br/>nthu.edu.tw<br/>+886 314 159 265</p>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="widget-title"><h5>Social widget</h5></div>
            <div class="social-icon">
                <a href="https://www.facebook.com/PusheenChuLaiWan" class="foundicon-facebook" target="_blank"></a>
                <a href="https://github.com/PusheenChuLaiWan" class="foundicon-github" target="_blank"></a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6"></div>

    </div>
</div>
</footer>

<footer class="footer-widgets hidden-sm hidden-md hidden-lg">
<div class="container footer-wrap text-center">
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-title"><h5>About PusheenChuLaiWan</h5></div>
            <p>Hi, 我們是Pusheen出來玩！<br><br>國立清華大學CS<br/>資訊工程學系<br/>nthu.edu.tw<br/>+886 314 159 265</p>
        </div>

        <div class="col-xs-12">
            <div class="widget-title"><h5>Social widget</h5></div>
            <div class="social-icon">
                <a href="https://www.facebook.com/PusheenChuLaiWan" class="foundicon-facebook col-xs-12" target="_blank"></a>
                <a href="https://github.com/PusheenChuLaiWan" class="foundicon-github col-xs-12" target="_blank"></a>
            </div>
        </div>

    </div>
</div>
</footer>
<footer class="footer-bottom">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <span class="copyrights">&copy; Copyright 2014 by <a href="#">PusheenChuLaiWan</a>. All rights reserved.</span>

            <nav id="footer-bottom-nav" class="hidden-xs">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            </nav>

        </div>
    </div>
</div>
</footer>    
