<!--TOP BAR -->
    <div id="top-bar">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12">
              
                  <!-- TOP BAR NAVIGATION -->
                  <nav id="top-bar-nav" class="hidden-sm hidden-xs">
                      <ul>
                          <li><a href="#">Features</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </nav>
                  <!-- TOP BAR NAVIGATION END-->
                  
                  <!-- TOP BAR TEXT -->
                  <div class="top-bar-text hidden-sm hidden-xs">
                      <p>Call us (123) 456 789</p>
                  </div>
                  <!-- TOP BAR TEXT END -->
                  
                  <!-- TOP BAR SOCIAL ICONS -->
                  <div class="top-bar-social pull-right social-icon hidden-xs">
                      <a href="#" class="foundicon-facebook"></a>
                      <a href="#" class="foundicon-twitter"></a>
                      <a href="#" class="foundicon-pinterest"></a>
                      <a href="#" class="foundicon-instagram"></a>
                      <a href="#" class="foundicon-github"></a>
                      <!-- <a href="#" class="foundicon-linkedin"></a>
                      <a href="#" class="foundicon-dribbble"></a>
                      <a href="#" class="foundicon-rss"></a>
                      <a href="#" class="foundicon-behance"></a>
                      <a href="#" class="foundicon-google-plus"></a>
                      <a href="#" class="foundicon-youtube"></a>
                      <a href="#" class="foundicon-vimeo"></a>
                      <a href="#" class="foundicon-flickr"></a>
                      <a href="#" class="foundicon-skype"></a>
                       -->
                      <!-- <a href="#" class="foundicon-tumblr"></a> -->
                  </div>
                  <!-- TOP BAR SOCIAL ICONS END -->
                  
              </div>
          </div>
      </div>
    </div> <!--TOP BAR End-->
    
    
	
    
    <header> <!-- HEADER-->
    	
    	<!-- HEADER CONTAINER -->
            <div class="header-top-wrap">
                <div class="container">
                
                        <!-- LOGO -->
                        <div class="logo">
                            <a href="index.html"><img src="img/logo.png" alt="logo"></a>
                        </div> <!-- LOGO END -->
                        
                        
                        
                        <!-- MAIN NAVIGATION -->
                        <a class="btn nav-toogle visible-xs clearfix" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="icon-reorder"></i></a>
  
                        <nav id="main-nav" class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul>
                                <li class="current_page_item"><a href="home-2.html">Home</a>
                                </li>
                                <li><a href="about.html">Pages</a>
                                    <ul>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                    </ul>
                                </li>
                                <li><a href="portfolio-4col.html">預約</a>
                                  <ul>
                                    <li><a href="portfolio-4col.html">座位預約系統</a></li>
                                  </ul>
                                </li>
                                <li><a href="portfolio-3col.html">log in</a>
                                    <ul>
                                        <li><a href="portfolio-4col.html">登入</a></li>
                                        <li><a href="portfolio-4col.html">註冊</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav> 
                        <!-- MAIN NAVIGATION END -->
                        
                    
                </div>
            </div>     
            <div class="header-bottom-wrap container">
            
                    <div class="header-text">
                        <h3>Praesent lobortis sapien non leo <a href="#">consectetur</a> sed suscipit. <br>Sed a mi id tortor iaculis pulvinar convallis.</h3>
                    </div>
                  
                    <div class="header-bottom-elements">
                        <div class="element-wrap">
                        	<div class="btn">Buy this theme!</div>
                        </div>
                    </div>
            	
            </div>
            
    	<div class="header-line"></div> 
        <!-- HEADER CONTAINER END -->
        
        
    </header> <!-- HEADER END -->   